.title Wydarzenia
- @events.each do |event|
  .col-md-3
    %h2= event.name
    %p= event.description
    %p= format_datetime(event.datetime_start)
    %p= format_datetime(event.datetime_end)
    %p Limit osób: #{event.capacity}

    = link_to 'Edytuj', edit_event_path(event), class: 'btn btn-primary'
    = link_to 'Usuń', event, method: :delete, data: { confirm: 'Czy chcesz na pewno usunąć to wydarzenie?' }, class: 'btn btn-danger'
  .col-md-1
