.container
  %nav
    - if @current_user
      .span6
        %h2
          %p Profil
        %h2
          %p Nick:
          = @current_user.nickname
        %h2
          %p Email:
          = @current_user.email
        .skill
          %p Skills
          - if @skill
            - @skills.each do |skill|
              .col-md-3
                %p Skill
                %h2= skill.name
                %p Level
                %h2= skill.level
                = link_to 'Usuń', skill, method: :delete, data: { confirm: 'Czy chcesz na pewno usunąć to wydarzenie?' }, class: 'btn btn-danger'
          %h2= link_to 'Ustawienia', settings_path, id: 'new_link', class: 'btn btn-primary', :remote => true




