%header.navbar.navbar-default.navbar-fixed-top
  .container
    %strong= link_to 'Avec', root_path, class: 'navbar-brand'
    %button.navbar-toggle{"data-target" => ".navHeaderCollapse", "data-toggle" => "collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .collapse.navbar-collapse.navHeaderCollapse
      %ul.nav.navbar-nav.navbar-right
        - if @current_user
          %li= link_to 'Nowe wydarzenie', new_event_path
          %li= link_to 'Forum', forum_path
          %li= link_to 'Profil', profile_path
          %li
            %a= @current_user.nickname
          %li= link_to '', logout_path, :method => :delete, class: 'octicon octicon-log-out'
        - else
          %li
            %a{href: login_path}
              Zaloguj
              %span.octicon.octicon-mark-github
