.col-md-3
  %h2= link_to event.name, event
.col-md-5
  %p= event.address
  %p= I18n.l(event.datetime_start)
  - if event.capacity.present?
    %p Limit osób: #{event.participants.size} / #{event.capacity}

.col-md-3
  - if current_user.can_update?(event)
    = link_to('Edytuj', edit_event_path(event), class: 'btn btn-primary')

  - if current_user.can_delete?(event)
    = link_to 'Usuń', event, method: :delete, data: { confirm: 'Czy chcesz na pewno usunąć to wydarzenie?' }, class: 'btn btn-danger'

  - if event.participants.include?(current_user)
    = form_for event, url: retreat_event_path(event), method: 'post' do |f|
      = f.submit 'Zrezygnuj', class: 'btn btn-warning'
  - else
    = form_for event, url: participate_event_path(event), method: 'post' do |f|
      = f.submit 'Dołącz', class: 'btn btn-success'
.clear
