.col-md-4
  %h1= @event.name

  %p= @event.description
  %p= link_to_map(@event.address)
  %p
    dn.
    %strong= format_date(@event.datetime_start)
    o godz.
    %strong= format_time(@event.datetime_start)
  %p Limit osób: #{@event.participants.size} / #{@event.capacity}

  - if @event.participants.present?
    %strong Uczestnicy
    %ul
      - @event.participants.each do |participant|
        %li= participant.nickname

  = link_to 'Wróć', root_path
.col-md-4
  .map
    %a{href: map_url(@event.address)}= static_map_image_tag(@event.address)
