!!!
%html
  %head
    %title Avec
    = stylesheet_link_tag    "application", media: "all"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext', media: 'all'
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
  .dashboard.container
    = render 'shared/navigation'
    = yield
