!!!
%html
  %head
    %title Avec
    = stylesheet_link_tag    "application", media: "all"
    %script{:src => "http://code.jquery.com/jquery-1.9.1.js"}
    %script{:src => "http://code.jquery.com/ui/1.10.2/jquery-ui.js"}
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
  .dashboard.container
    = render 'shared/navigation'
    = yield
